@tailwind base;
@tailwind components;
@tailwind utilities;

.commands_search {
  @apply h-full w-full  bg-lt-main hover:bg-lt-main-hover dark:bg-dt-main dark:hover:bg-dt-main-hover rounded-2xl p-[15px] pl-[50px] outline-none border-2 border-solid border-lt-main dark:border-dt-main hover:border-lt-main-hover dark:hover:border-dt-main-hover  focus:border-main-active  hover:focus:border-main-active transition-all duration-150 ease-linear;
}
.commands_search_label {
  @apply transition-all duration-150 ease-linear absolute top-4 left-4;
}

.commands_search:focus + label path,
.commands_search:focus:hover + label path,
.commands_category_btn.current path {
  @apply fill-main-active;
}
.commands_search:focus::placeholder {
  @apply text-main-active;
}
.commands_category_btn.current:hover path,
.commands_sidebar_info.opened:hover path {
  @apply fill-main-active-hover;
}
.commands_sidebar_info {
  @apply bg-lt-main dark:bg-dt-main rounded-2xl p-2;
}
.commands_sidebar_info.opened svg {
  @apply fill-main-active rotate-180;
}

.commands_sidebar_info.opened > .commands_sidebar_info_title {
  @apply text-main-active fill-main-active duration-200 ease-in-out;
}
.commands_sidebar_info.opened:hover > .commands_sidebar_info_title {
  @apply bg-main-active-bg text-main-active-hover;
}
.commands_sidebar_info.opened > .commands_sidebar_info_body {
  @apply pt-2 grid-rows-[1fr] ease-in-out;
}
.commands_sidebar_info.opened > .commands_sidebar_info_body > div {
  @apply visible opacity-100 ease-in-out;
}
.commands_sidebar_info_title {
  @apply h-10 rounded-lg py-2 px-3 flex gap-4 items-center cursor-pointer transition-all duration-150 ease-linear select-none hover:bg-lt-main-hover dark:hover:bg-dt-main-hover;
}
.commands_sidebar_info_title:hover svg {
  @apply fill-lt-svg-hover dark:fill-dt-svg-hover;
}
.commands_sidebar_info_body {
  @apply pt-0 grid grid-rows-[0fr] overflow-hidden transition-all duration-200 ease-out-max;
}
.command {
  @apply bg-lt-main dark:bg-dt-main overflow-hidden rounded-2xl	py-4 pl-5 grid grid-cols-[1fr_auto] pr-5 2xl:pr-0;
}
.command.opened > div {
  @apply ease-in-out;
}
.command.opened .command_expand svg {
  @apply rotate-180;
}
.command.opened .command_name {
  @apply pb-4;
}
.command.opened .command_body {
  @apply grid-rows-[1fr] ease-in-out;
}
.command.opened .command_body_content {
  @apply visible opacity-100 ease-in-out;
}
.command_name {
  @apply cursor-pointer select-none z-10 transition-all duration-200 ease-out-max;
}
.command_expand {
  @apply cursor-pointer items-end transition-all duration-200 ease-out-max px-5 hidden 2xl:grid;
}
.command_body {
  @apply grid grid-rows-[0fr] overflow-hidden transition-all duration-200 ease-out-max;
}
.command_body_content {
  @apply flex min-h-0 gap-2 flex-col invisible opacity-0 transition-all duration-200 ease-out-max;
}
.command_body_content a {
  @apply text-link;
}
.usage {
  @apply py-1 px-4 rounded-lg bg-lt-third dark:bg-dt-third font-inconsolata flex items-center gap-2;
}
